@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}



@*<p>
    Me chamo Rodrigo Ramos Paulino, tenho 36 anos.
    Meu linkedin é o: https://www.linkedin.com/in/rodrigo-ramos-paulino-8a2bb4125/
    E esta e minha página do Git:https://github.com/RodrigoRPaulino
    Meu e-mail é: rodrigoramospaulino@hotmail.com
</p>*@


