@model List<ProdutosModel>

@{
    <h4>Ta funcionando só falta gravar no banco </h4>
}
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td></td>
    </tr>
  </tbody>
</table>