
<!--Colocamos algumas informações na Página Inicial , apos isso vamos criar uma controller-->
@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Academia AtosUFN</h1>
    <h2>Projeto final do Curso de .NET 2022</h2>
    <h4> Sistema de busca de Produtos </h4>
</div>
