@{
    ViewData["Title"] = "AtosUFN";
}

<div class="text-center">
    <h1 class="display-4">Projeto Final Academia AtosUFN</h1>
    <p>Aplicação para Busca rápida  de produtos em Shopping.</p>
</div>

