@model LojasModel

@{
    ViewData["Title"] = "Editar Informações";
}
<div class="text-center">
    <h1 class="display-4">Editar Informações</h1>
</div>

<form asp-controller="ListagemLojas" asp-action="Alterar" method="post">
     <!--Usamos um input do tipo hidden que deixa invisivel o campo id-->
    <input type="hidden" asp-for="Id"/>
     <div class="form-group">
        <label for="loja"><strong>Loja</strong></label>
        <input type="text" asp-for="NomeLoja" class="form-control" placeholder="Digite o nome da loja">
         @Html.ValidationMessageFor(n => n.NomeLoja)
    </div>
    <div class="form-group">
        <label for="localizacao"><strong>Localização</strong></label>
        <input type="text"asp-for="Localizacao" class="form-control" placeholder="Digite o endereço da loja">
         @Html.ValidationMessageFor(l => l.Localizacao)
    </div>
    <div class="form-group">
        <label for="telefone"><strong>Telefone</strong></label>
        <input type="text" asp-for="Telefone" class="form-control" placeholder="Digite o telefone">
        @Html.ValidationMessageFor(t => t.Telefone)
    </div>
    <div>
        <button type="submit" class="btn btn-dark ">Atualizar Informações</button>
        <a class="btn btn-secondary "asp-action="Index" asp-controller="ListagemLojas" role="button">Voltar</a>
    </div>



</form>
