@{
    ViewData["Title"] = "Cadastro de lojas";
}
<div class="text-center">
    <h1>Lista de Cadastro de lojas</h1>

<div class="text-center">

    <h1 class=" display-4">Lista de Lojas</h1>
    <br></br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Loja</th>
                <th scope="col">Localização</th>
                <th scope="col">Contato</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>A&C</td>
                <td>Piso Térreo,loja n°1</td>
                <td>(11)9 2122-2324</td>
                <td>
                    <div class="btn-group" role="group">                        
                        <a role="button" class="btn btn-success" asp-controller="ListagemLojas" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-dark"asp-controller="ListagemLojas" asp-action="ApagarConfirmar">Apagar</a>                       
                    </div>
                </td>
                
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Bumma</td>
                <td>Piso Térreo,loja n°2</td>
                <td>(11)9 2123-2325</td>
                <td>
                    <div class="btn-group" role="group">                        
                        <a role="button" class="btn btn-success"asp-controller="ListagemLojas" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-dark"asp-controller="ListagemLojas" asp-action="ApagarConfirmar">Apagar</a>                       
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Cutts</td>
                <td>Piso Térreo,loja n°3</td>
                <td>(11)9 2123-2326</td>
                <td>
                    <div class="btn-group" role="group">                        
                        <a role="button" class="btn btn-success"asp-controller="ListagemLojas" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-dark"asp-controller="ListagemLojas" asp-action="ApagarConfirmar">Apagar</a>                       
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>DreadStar</td>
                <td>Piso Térreo,loja n°4</td>
                <td>(11)9 2123-2327</td>
                <td>
                    <div class="btn-group" role="group">                        
                        <a role="button" class="btn btn-success"asp-controller="ListagemLojas" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-dark"asp-controller="ListagemLojas" asp-action="ApagarConfirmar">Apagar</a>                       
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Evangelion</td>
                <td>Piso Térreo,loja n°5</td>
                <td>(11)9 2123-2328</td>
               <td>
                    <div class="btn-group" role="group">                        
                        <a role="button" class="btn btn-success"asp-controller="ListagemLojas" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-dark"asp-controller="ListagemLojas" asp-action="ApagarConfirmar">Apagar</a>                       
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Form Modas</td>
                <td>Piso Térreo,loja n°6</td>
                <td>(11)9 2123-2329</td>
               <td>
                    <div class="btn-group" role="group">                        
                        <a role="button" class="btn btn-success"asp-controller="ListagemLojas" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-dark"asp-controller="ListagemLojas" asp-action="ApagarConfirmar">Apagar</a>                       
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Grow</td>
                <td>Piso Térreo,loja n°7</td>
                <td>(11)9 2123-2330</td>
                <td>
                    <div class="btn-group" role="group">                        
                        <a role="button" class="btn btn-success"asp-controller="ListagemLojas" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-dark"asp-controller="ListagemLojas" asp-action="ApagarConfirmar">Apagar</a>                       
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>HummerFall</td>
                <td>Piso Térreo,loja n°8</td>
                <td>(11)9 2123-2331</td>
               <td>
                    <div class="btn-group" role="group">                        
                        <a role="button" class="btn btn-success"asp-controller="ListagemLojas" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-dark"asp-controller="ListagemLojas" asp-action="ApagarConfirmar">Apagar</a>                       
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Inner</td>
                <td>Piso Térreo,loja n°9</td>
                <td>(11)9 2123-2332</td>
                <td>
                    <div class="btn-group" role="group">                        
                        <a role="button" class="btn btn-success"asp-controller="ListagemLojas" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-dark"asp-controller="ListagemLojas" asp-action="ApagarConfirmar">Apagar</a>                       
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Jaiki</td>
                <td>Piso Térreo,loja n°10</td>
                <td>(11)9 2123-2333</td>
                <td>
                    <div class="btn-group" role="group">                        
                        <a role="button" class="btn btn-success"asp-controller="ListagemLojas" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-dark"asp-controller="ListagemLojas" asp-action="ApagarConfirmar">Apagar</a>                       
                    </div>
                </td>
            </tr>
            <br></br>
            <tr>
                <td>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">                        
                        <a class="btn btn-warning" role="button" asp-controller="ListagemLojas" asp-action="Cadastrar"><strong>Cadastrar Loja</strong></a>     
                    </div>
                </td>
            </tr>


        </tbody>
    </table>

</div>
</div>



